*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#54a0ff;
    --secondary-color:#b0c8e0;
}

body{
    background: #222f3e;
}

.container{
    /* background: (var(--main-color)); */
    background: #54a0ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;
    height: 70vh;
    border-radius: 5px;
    overflow: hidden;
    color: #797d7f;
    letter-spacing: 0.5px;
    display: grid;
    place-items: center; 
}

.inner{
    position:absolute;
    height: 100%;
    width: 90%;
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;

}

.box{
    position: absolute;
    top:15%;
    left: 10%;
    width:80%;
    height: 70%;
    -webkit-transition: 1s;
    transition: 1s;
    background:#fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 0.5 rgba(0,0,0,0.5);
    font-size: 1.3rem;
}

.number::before{
    content: " ";
    position:absolute;
    top:-130;
    right:-30px;
    width:90px;
    height:200px;
    background:#b0c8e0 ;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index:-1;
    box-sizing: 0 0 0.7 rgba(0,0,0,0.5);
}

.number{
    position: absolute;
    margin: 0;
    top: 15px;
    right: 15px;
    color: rgba(225,255,255,0.7);
}

.number img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: -15px;
    top: -7px;
    cursor: pointer;
    animation: rot 1s linear;
}

.number:hover img{
    animation: rot 2sec linear;
}

@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.quote{
    position: absolute;
    top:25%;
    left:10% ;
    -webkit-transform: rotate(-50%,50%);
    transform: rotate(-50%,50%); 
    width:80%;
    font-size: 1.3rem;
    font-style: italic;
}

.author{
    position: absolute;
    font-size:0.8rem;
    font-weight: bolder;
    left: 60%;
    bottom: 30%;
}
.button{
    position: absolute;
    bottom:0%;
    text-align: center;
    background: #1d477a;
    color: #fff;
    width:36vw;
    height:10%;
    
}

i{
    left: 10%;
    top: 10%;
    color: #1d477a;
    opacity: 0.2;
    position: absolute;
    height: 50px;
}